
{% extends 'base.html' %}
{% block title %}Лучшие телефоны{% endblock title %}

{% block content %}
<main role="main">
<div class="container">
    <h1>{{ article.title }}</h1>
    <p>Автор: {{ article.author.first_name }} {{ article.author.last_name }}</p>
    <p>Опубликовано {{ article.pub_date }}</p>
    {{ article.text|linebreaks }}
    <div class="container mb-5">
        <div class="row">
        {% for product in products %}
            {% include 'phone_snippet.html' %}
        {% endfor %}
        </div>
    </div>
</div>
</main>
{% endblock content %}