{% extends "base.html" %}
{% load static %}

{% block title %}Каталог{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/catalog">Каталог телефонов</a></h1>
        </div>
        <div class="sort-block">Сортировать по:
            <a href="/catalog/?sort=name"> по названию </a>
            <a href="/catalog/?sort=min_price"> по возрастанию </a>
            <a href="/catalog/?sort=max_price"> по убыванию </a>
            <a href="/catalog/?sort=release_date"> по дате релиза </a>
        </div>

        <div class="content">
            {%for phone in phones%}
            <div style="padding-top: 30px">
                <h3><a href="/catalog/{{phone.slug}}">{{phone.name}}</a></h3>
                <h5> Стоимость: {{phone.price}} ₽</h5>
                <h5> Дата релиза: {{phone.release_date|date:"d-M-Y"}} </h5>
                <img src={{phone.image}} height="100px">
            </div>
            {% endfor%}
        </div>
    </div>
{% endblock %}